.box1{

   width: 90px;
   height: 70px;
   flex-direction: column;
}

.box2{

    margin-left: 160px;
    margin-top: -60px;
}

.main {

    height: 150px;
    width: 100%;
 
    margin-left: 590px;
    position: fixed;

}
.post{
      margin-top: 150px;
      width:500px;
      height: 220px;
      
      margin-left: -70px;
}

.post1{

     width:470px;
     height:370px;
      background-color: rgb(255, 242, 225);
      margin-top: 30px;

}
.textarea{

     width: 380px;
     height: 200px;
      margin-top: 12px;


}